<!DOCTYPE html>
<html>
  <head>
    	<title>{{title}}</title>
	    
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">

	    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">



	    <!-- Custom styles for this template -->
	    <link href="./Dashboard Template for Bootstrap_files/dashboard.css" rel="stylesheet">

	    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">

	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	    


	    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<!-- Header -->
  	 <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-danger">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="https://v4-alpha.getbootstrap.com/examples/dashboard/#">Xpressions</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      	<!--
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://v4-alpha.getbootstrap.com/examples/dashboard/#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://v4-alpha.getbootstrap.com/examples/dashboard/#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://v4-alpha.getbootstrap.com/examples/dashboard/#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://v4-alpha.getbootstrap.com/examples/dashboard/#">Help</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    -->
      </div>

    </nav>
	<!-- Header Ends -->

	<div class="container-fluid">
    {{{body}}}
	</div>

  </body>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.7/handlebars.js"></script>

	
 	<!--Settings Modal -->
	<script id="modalTemplate" type="text/x-handlebars-template">
		<!--<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
				 {{titles}}
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>-->
	</script>
	<!--Setting Modal Ends -->


	<!--Category DowpDown  -->
	<script id="createProducts" type="text/x-custom-template">

		<div class="row"> 
  <div class="form-group col-lg-6">
    <label for="productImage">ProductImage</label>
    <input type="text" name="productImage" class="form-control" value="%Picture%" id="productImage" aria-describedby="Product Image" placeholder="Image Path">
   
  </div>

   <div class="form-group col-lg-6">
    <label for="productName">ProductName</label>
    <input type="text" name="productName" class="form-control" value="%ProductName%" id="productName" aria-describedby="Product Name" placeholder="Product Name">
   
  </div>
</div>

<div class="row"> 
  <div class="form-group col-lg-6">
    <label for="unitsInStock">UnitsInStock</label>
    <input type="number" name="unitsInStock" class="form-control" value="%UnitsInStock%" id="unitsInStock" aria-describedby="UnitsInStock" placeholder="Units In Stock">
   
  </div>

   <div class="form-group col-lg-6">
    <label for="costPrice">CostPrice</label>
    <input type="number" name="costPrice" class="form-control" value="%CostPrice%" id="costPrice" aria-describedby="Cost Price" placeholder="Cost Price">
   
  </div>
</div>

 
<div class="row"> 
  <div class="form-group col-lg-6">
    <label for="unitPrice">UnitPrice</label>
    <input type="number" name="unitPrice" class="form-control" value="%UnitPrice%" id="unitPrice" aria-describedby="unitPrice" placeholder="Units Price">
   
  </div>

   <div class="form-group col-lg-6">
    <label for="discount">Discount</label>
    <input type="number" name="discount" class="form-control" value="%Discount%" id="discount" aria-describedby="Discount" placeholder="Discount">
   
  </div>
</div>

<div class="row"> 
  <div class="form-group col-lg-6">
    <label for="categoryOptions">Category</label>
    <select name="category" class="form-control" id="categoryOptions">
     
    </select>
   
  </div>

   <div class="form-group col-lg-6">
    <label for="materialOptions">Material</label>
    <select name="material" class="form-control" id="materialOptions">
     	<option value="Ceramic">Ceramic</option>
     	<option value="Glass">Glass</option>
     	<option value="Stone">Stone</option>
     	<option value="Board">Board</option>
     	<option value="Acrylic">Acrylic</option>
     	<option value="Fabric">Fabric</option>
     	<option value="Metal">Metal</option>
    </select>
   
  </div>
  
</div>

<div class="row"> 
  <div class="form-group col-lg-6">
    <label for="productAvailable">ProductAvailable</label>
    <input type="checkbox" name="productAvailable" id="productAvailable"/>
   
  </div>

   <div class="form-group col-lg-6">
    <label for="discountAvailable">DiscountAvailable</label>
   	<input type="checkbox" name="discountAvailable" id="discountAvailable"/>
   
  </div>
  
</div>

<div class="row"> 
  <div class="form-group col-lg-6">
    <label for="featured">Featured</label>
    <input type="checkbox" name="featured" id="featured"/>
   
  </div>

   <div class="form-group col-lg-6">
    <label for="latest">Latest</label>
   	<input type="checkbox" name="latest" id="latest"/>
   
  </div>
  
</div>
	
      
    
		
     
	</script>
	<!--Category DowpDown Ends -->	

	<script>


	//var tableTemplate = Handlebars.compile($("#tableTemplate").html());
	//var settingsModalTemplate = Handlebars.compile($("#modalTemplate").html());
	var categoryTemplate = $("#categoryTemplate").html();
	

	var table;
	var destroyFlag = true;
	var categories;


	var addProducts = function(){
		//Create a Form for Creating Products
		var categoryHTML = '';

		var str = $('#createProducts').html()
				.replace("%Picture%","")
				.replace('%ProductName%',"")
				.replace('%UnitsInStock%',"")
				.replace('%CostPrice%',"")
				.replace('%UnitPrice%',"")
				.replace('%Discount%',"");

		$('#modalContent').html(str);

		if(categories){
			categories.forEach(function(value){
				categoryHTML += '<option value="'+value.CategoryId+'">'+value.CategoryName+'</option>';
			});

			$('#categoryOptions').html(categoryHTML);
		}
		

		
		$('#myModal').modal('show');

		//$('#productForm').attr('action', '/addProducts'); 

		$('#productForm').data( "action",  '/addProducts' );
		
	}
	//addProducts

	var showSettingsModal = function(){
		//var modalHtml    = settingsModalTemplate({'titles':'Gourav'});
		//$('#settingsModal').html(modalHtml);
		//$('#settingsModal').modal('show');
	}

	$('#loadingDiv').hide();
	
	var loadTableData = function(thisElement){
		$('#loadingDiv').show();

		var tableHeader =[];
		var tableData   =[];
		
		

		$('#products').addClass('d-block');
		$.get("tableData/"+thisElement.dataset.tablename, function( data ) {

			if(table){
			//	table.destroy();
				$('#example').dataTable().fnDestroy();
			}

			console.log(data);

			if(data.status=='success'){
				

				//Products Table Rendering
				table = $('#example').DataTable( {

					"paging": true,
					"data": data.data,
					"columns": data.columns,
					//"bDestroy": destroyFlag,
					"destroy": true,
					"scrollX": true,
					"orderable": true,
					"columnDefs": [
					{
						
						"render": function ( data, type, row ) {
							/*return '<div><button data-Id="'+data+'" onclick="getProductDetail(\''+data+'\')" class="editProduct">Edit</Button> | <Button class="deleteProduct" data-Id="'+data+'">Delete</Button> </div>';*/
							return '';
						},
						"targets": 0
					},
					{
						
						"render": function ( data, type, row ) {
						return '<div><div class="zoomOverLay d-none "><i class="zoomFont fa fa-search-plus" aria-hidden="true"></i></div>'+data.substring(0,data.indexOf('/>'))+' onclick="zoomImage(this)" class="productImage" width="147px" /></div>';
						},
						"targets": 1
					}]
					


					});

				assignEventHandlers();
				//Products Table Rendering Ends
				


				//Category Dropdown Populating
				//$('#categorySelect').addClass('d-block');

				categories = data.category;
				
				
				//Category Dropdown Populating Ends


			}else{

			}

			
			//table.destroy();
			$('#loadingDiv').hide();
		});
		

	}//loadTableData

var assignEventHandlers = function(){
	
	

	/*$('.productImage').click(function(){
		console.log(this.src);
		
	});

	$('.editProduct').click(function(){
		
		getProductDetail(this.dataset.id);
	});*/

	
}

var zoomImage= function(thisElement){
		$('#imageBodyModal').html('<img src="'+thisElement.src+'"></img>');
		$('#imageModal').modal('show');
}



var getProductDetail = function(productId){
	var categoryHTML = '';

	$.post("/getProductData",{ productId:productId} ,function( data ) {
		console.log(data);

		var str = $('#createProducts').html()
				.replace("%Picture%",data.product.Picture)
				.replace('%ProductName%',data.product.ProductName)
				.replace('%UnitsInStock%',data.product.UnitsInStock)
				.replace('%CostPrice%',data.product.CostPrice)
				.replace('%UnitPrice%',data.product.UnitPrice)
				.replace('%Discount%',data.product.Discount);

		$('#modalContent').html(str);

		if(categories){
			categories.forEach(function(value){
				categoryHTML += '<option value="'+value.CategoryId+'">'+value.CategoryName+'</option>';
			});

			$('#categoryOptions').html(categoryHTML);
		}

		$('#categoryOptions').val(data.product.CategoryId);
		$('#materialOptions').val(data.product.Material);


		$("#productAvailable").prop("checked", data.product.ProductAvailable);
		$("#discountAvailable").prop("checked", data.product.DiscountAvailable);
		$("#featured").prop("checked", data.product.Featured);
		$("#latest").prop("checked", data.product.Latest);



		$('#myModal').modal('show');

		$('#productForm').append('<input type="text" id="productId" hidden name="productId" value="'+data.product.ProductId+'">');
		//$('#productForm').attr('action', '/editProduct'); //addProducts

		$('#productForm').data( "action",  '/editProduct' );

	});
}

$(document).ready(function(){
	$('#submitForm').click(function(){
		
		
		var context = {
			'productImage':$('#productImage').val(),
			'productName': $('#productName').val(),
			'unitsInStock': $('#unitsInStock').val(), 
			'costPrice':$('#costPrice').val(),
			'unitPrice':$('#unitPrice').val(),
			'discount':$('#discount').val(),
			'category':$('#categoryOptions').val(),
			'material':$('#materialOptions').val(),
			'productAvailable':$('#productAvailable').val(),
			'discountAvailable':$('#discountAvailable').val(),
			'featured':$('#featured').val(),
			'latest':$('#latest').val(),
			'productId':$('#productId').val()
		}


		$.post($('#productForm').data("action"),context,function(data){
			console.log(data);

			$('#myModal').modal('hide');

			if(data.status=='success'){
				$('#statusAlert').html('<strong>Well done!</strong> Product Successfully Edited.').addClass('d-block').addClass('alert-success').delay(3000).modal('hide');

				if(table){
					$('#example').dataTable().fnDestroy();
				}


				table = $('#example').DataTable({

						"paging": true,
						"data": data.data,
						"columns": data.columns,
						//"bDestroy": destroyFlag,
						"destroy": true,
						"scrollX": true,
						"orderable": true,
						"columnDefs": [
						{
							
							"render": function ( data, type, row ) {
							return '<div><button data-Id="'+data+'" onclick="getProductDetail(\''+data+'\')" class="editProduct">Edit</Button> | <Button class="deleteProduct" data-Id="'+data+'">Delete</Button> </div>';
							},
							"targets": 0
						},
						{
							
							"render": function ( data, type, row ) {
							return '<div><div class="zoomOverLay d-none "><i class="zoomFont fa fa-search-plus" aria-hidden="true"></i></div>'+data.substring(0,data.indexOf('/>'))+' onclick="zoomImage(this)" class="productImage" width="147px" /></div>';
							},
							"targets": 1
						}]
					
				});



			}else{
				$('#statusAlert').html('<strong>Well done!</strong>Error Occured.').addClass('d-block').addClass('alert-danger');

			}
		});

	});
});

//http://krasimirtsonev.com/blog/article/Javascript-template-engine-in-just-20-line

	</script>
</html>
